.comments {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem 10%;
    box-sizing: border-box;
    gap: 5rem;

    @media screen and (max-width: 960px){
        padding-top: 0;
        gap: 2.5rem;
        align-items: flex-start;
    }
    @media screen and (max-width: 768px){
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        padding: 3.75rem 1rem;
    }

    .item {
        @media screen and (max-width: 960px){
            height: 25rem;
            width: 45%;
        }
        @media screen and (max-width: 768px){
            height: unset;
            width: 100%;
        }
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 33.75rem;

        img {
            @media screen and (max-width: 600px){
                margin-bottom: 1rem;
            }
            width: 100%;
            height: auto;
            margin-bottom: 3.75rem;
        }

        .content {
            @media screen and (max-width: 960px){
                padding: 0;
                gap: 1rem;
            }
            width: 100%;
            display: flex;
            padding: 0rem 1.75rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.75rem;
            box-sizing: border-box;

            .text {
                @media screen and (max-width: 960px){
                    font-size: 1.125rem;
                }
                color: $black-1;
                font-size: 1.375rem;
                font-weight: 300;
                line-height: 1.5;

                span {
                    color: $blue-1
                }
            }

            .badge {
                @media screen and (max-width: 960px){
                    width: 100%;
                    font-size: .8rem;
                }
                @media screen and (max-width: 600px){
                    width: 100%;
                    font-size: .8rem;
                }
                @media screen and (max-width: 380px){
                    width: 100%;
                    font-size: .6rem;
                }
                background: linear-gradient(192.04deg, #EECB50 5.45%, #70D7E6 78.15%);
                font-family: var(--font-title);
                font-variation-settings: 'wdth'150;
                display: flex;
                padding: 0.75rem 0.5rem;
                justify-content: center;
                box-sizing: border-box;
                align-items: center;

                strong {
                    font-weight: 500;
                }

                span {
                    color: $blue-1
                }
            }
        }

    }
}

.join {
    display: flex;
    width: 100%;
    padding: 3.75rem 1rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: $blue-1;
    
    .title {
        color: $white-2;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.04rem;
    }
}